<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="mb-4">
            <img th:src="@{/images/logo.png}"/>
        </div>

        <div class="card p-4 shadow-sm text-center">

            <form action="" method="post">
                <div class="mb-3">
                    <input type="email" name="email" placeholder="이메일" class="form-control" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" placeholder="비밀번호" class="form-control" required>
                </div>
                <button type="submit" class="btn custom-button w-100">로그인</button>
            </form>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
         let message = "[[${msg}]]";
         if (message !== "") {
             alert(message);
         } else {
         }
     });
    </script>

</body>
</html>