<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <img th:src="@{/images/logo.png}"/>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="container">
        <h2>게시글 수정</h2>

        <!-- 게시글 수정 폼 -->
        <form th:action="@{/posts/{postId}(postId=${postId})}" th:object="${postPostDto}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" id="title" name="title" th:field="*{title}" required class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea id="content" name="content" class="form-control" th:field="*{content}" required style="height: 200px;"></textarea>
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" th:field="*{image}">
            </div>

            <!-- boardId 숨겨서 전달 -->
            <input type="hidden" name="boardId" th:value="${postPostDto.boardId}">

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" style="width: 10%; background-color: #CB8BFF; color: white; border: none;">수정</button>
                <a class="btn btn-danger ms-3" style="width: 10%; background-color: #CDCDCD; color: white; border: none;" th:href="@{/posts/{postId}(postId=${postId})}">취소</a>
            </div>

        </form>

    </div>
</div>
</body>
</html>
