<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container post-list">
    <div class="d-flex justify-content-center mt-5 align-items-center">
        <img th:src="@{/images/logo.png}" alt="Logo" class="logo"/>
        <div class="d-flex align-items-center">
            <div th:text="${member.nickname} + '님'" class="me-3"></div>
            <a th:href="@{'/' + ${member.memberId}}" class="btn btn-info">내 정보</a>
            <a th:href="@{/logout}" class="btn btn-info">로그아웃</a>
        </div>
    </div>

    <div class="post-list-container">
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="window.location.href='/boards'">&lt; 게시판 목록</button>
        <div class="d-flex justify-content-between m-3">
            <h2 class="text-center mt-3">게시글 목록</h2>
            <a class="text-center btn btn-primary mt-4" th:href="@{/posts/create(boardId=${boardId})}">게시글 작성</a>
        </div>

        <div class="d-flex justify-content-around m-3" id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <td><a class="d-inline-block text-truncate" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a></td>
                        <td class="d-inline-block text-truncate" th:text="${post.content}"></td>
                        <td th:text="${post.getMember().getNickname()}"></td>
                        <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a th:if="${posts.hasPrevious()}" th:href="@{/posts(boardId=${boardId}, page=${posts.number}, sort=${sortOrder})}" class="btn btn-outline-secondary btn-sm">이전</a>
            <span class="mx-2">페이지 <span th:text="${posts.number + 1}"></span> / <span th:text="${posts.totalPages}"></span></span>
            <a th:if="${posts.hasNext()}" th:href="@{/posts(boardId=${boardId}, page=${posts.number + 2}, sort=${sortOrder})}" class="btn btn-outline-secondary btn-sm">다음</a>
        </div>
    </div>
</div>
<br>
</body>
</html>
