.custom-button {
            color: white;
            background-color: #CB8BFF;
            font-weight: bold;
        }

.custom-button:hover {
    background-color: #c491f5;
}

.form-control::placeholder {
    text-align: center;
    color: #888;
    font-weight: 500;
}

.error-message {
    color: red;
    font-size: 12px;
}