<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<!-- 상단 logo 부분 -->
<div th:fragment="header">
    <div class="container">
        <div class="d-flex justify-content-center mt-5 align-items-center">
            <img th:src="@{/images/logo.png}" class="logo-img-size"/>
            <div class="d-flex align-items-center">
                <div th:text="${member.name} + '님'" class="me-3"></div>
                <a th:href="@{'/' + ${member.memberId}}" class="btn custom-btn-color" style="margin-right: 5px;">내 정보</a>
                <a th:href="@{/logout}" class="btn custom-btn-color">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- list 출력 부분-->
<th:block th:fragment="listForm">
    <div class="d-flex  justify-content-around m-3">
        <h2 class="text-center mt-3" th:text="#{board.list}">게시판 목록</h2>
        <a class="text-center btn btn-primary mt-4 custom-btn-color"
           th:href="@{/boards/create}" th:text="#{board.add}"> 게시판 추가</a>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <th:block th:each="form : ${list}">
                <div class="col mb-3 mt-3">
                    <a th:href="@{/boards/{id}(id=${form.getBoardId()})}"
                       style="display: block; text-decoration: none; color: black;">
                        <div class="card shadow-sm">
                            <img width="100%" height="225" class="border border-radius=10px rounded"
                                 th:src="@{boards/image/{id}(id=${form.getImageId()})}">
                            <div class="card-body" style="min-height: 150px">
                                <div class="card-">
                                    <h4 class="board-title" th:text="${form.getTitle()}">게시판 이름</h4>
                                    <p th:text="${form.getDescription()}">게시판 설명</p>
                                </div>
                                <div class="d-flex justify-content-end"
                                     th:if="${member.getMemberId() == form.getMemberId()}">
                                    <a class="btn btn-outline-primary me-2"
                                       th:href="@{boards/edit/{id}(id=${form.getBoardId()})}"
                                       th:text="#{edit.btn}">
                                    </a>
                                    <a class="btn btn-outline-danger" onclick="return confirmDelete(event, this);"
                                       th:onclick="|deleteBoard(${form.getBoardId()})|" th:text="#{delete.btn}"></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>

        <!-- 페이징 부분 -->
        <div class="d-flex justify-content-center mt-4" th:if="${list.getTotalPages() > 0}">
            <ul class="pagination">

                <!-- 이전 버튼 -->
                <li class="page-item" th:classappend="${!list.hasPrevious()} ? 'disabled'">
                    <a class="page-link custom-btn-color" th:href="@{/boards(page=${list.getNumber()})}">
                        <span>&laquo;</span>
                    </a>
                </li>

                <!-- 페이지 번호 버튼들 -->
                <th:block th:each="i : ${#numbers.sequence(1, list.getTotalPages())}">
                    <li class="page-item">
                        <a class="page-link"
                           th:classappend="${i == list.getNumber() + 1} ? 'custom-number-color' : 'custom-btn-color'"
                           th:href="@{/boards(page=${i})}" th:text="${i}">1</a>
                    </li>
                </th:block>

                <!-- 다음 버튼 -->
                <li class="page-item" th:classappend="${!list.hasNext()} ? 'disabled'">
                    <a class="page-link custom-btn-color" th:href="@{/boards(page=${list.getNumber()} + 2)}">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function deleteBoard(boardId) {
            let form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', 'boards/delete/' + boardId);

            let hiddenMethodField = document.createElement('input');
            hiddenMethodField.setAttribute("type", "hidden");
            hiddenMethodField.setAttribute("name", "_method");
            hiddenMethodField.setAttribute("value", "delete");

            form.appendChild(hiddenMethodField);

            if (confirm("정말 삭제하시겠습니까?")) {
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</th:block>

<!-- 게시판 업로드 및 수정 부분 -->
<th:block th:fragment="createForm (method, createButtonName, cancelButtonName)">
    <div class="container my-3 mt-5 d-flex justify-content-center">
        <div class="container">
            <form th:action method="post" th:object="${form}" enctype="multipart/form-data">
                <input type="hidden" name="_method"
                       th:if="${method != 'POST' and method != 'post' and method != 'GET' and method != 'get'}"
                       th:value="${method}">
                <div class="mb-3">
                    <label for="title" class="form-label" th:text="#{board.name}">게시판 이름</label>
                    <input type="text" id="title" class="form-control" placeholder="이름을 입력하세요." maxlength="100"
                           th:field="*{title}" th:errorclass="border-danger"/>
                    <p class="text-danger" th:errors="*{title}"></p>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label" th:text="#{board.description}">게시판 설명</label>
                    <textarea id="description" class="form-control" style="height: 200px;" maxlength="200"
                              placeholder="설명을 입력하세요." th:field="*{description}"
                              th:errorclass="border-danger"></textarea>
                    <p class="text-danger" th:errors="*{description}"></p>

                </div>
                <div class="mb-5">
                    <label for="image" class="form-label" th:text="#{board.uploadImage}">이미지 업로드</label>
                    <input class="form-control" type="file" id="image" accept="image/*"
                           th:field="*{image}" th:errorclass="border-danger"/>
                    <p class="text-danger" th:errors="*{image}"></p>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary custom-btn-color"
                            style="width: 10%;" th:text="${createButtonName}">추가
                    </button>
                    <a class="btn btn-danger ms-3 custom-btn-color" style="width: 10%;"
                       th:text="${cancelButtonName}" th:href="@{/boards}">취소</a>
                </div>
            </form>
        </div>
    </div>
</th:block>
</body>
</html>